*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
padding:20px;
transition:.3s;
}

.container{
width:100%;
max-width:500px;
}

.card{
backdrop-filter:blur(15px);
background:rgba(255,255,255,.15);
padding:25px;
border-radius:20px;
box-shadow:0 8px 32px rgba(0,0,0,.2);
color:white;
}

.top-bar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
color:white;
}

.score-board{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.scramble-box{
text-align:center;
margin:20px 0;
}

.scramble-box h2{
font-size:2rem;
letter-spacing:4px;
}

input{
width:100%;
padding:12px;
border:none;
border-radius:10px;
margin-bottom:15px;
font-size:1rem;
}

.buttons{
display:flex;
gap:10px;
}

button{
flex:1;
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}

button:hover{
transform:scale(1.03);
}

#message{
margin-top:15px;
text-align:center;
font-weight:bold;
}

.progress{
height:10px;
background:#ddd;
border-radius:20px;
overflow:hidden;
margin-top:15px;
}

#progressBar{
height:100%;
width:100%;
background:#00ff99;
transition:1s linear;
}

.dark{
background:#111;
}

.dark .card{
background:rgba(0,0,0,.5);
}

@media(max-width:600px){
.score-board{
flex-direction:column;
gap:8px;
}
.buttons{
flex-direction:column;
}
}